html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );
  background-attachment: fixed;
}

.navbar-nav,
.hero-container {
  max-width: 700px;
  margin: 0 auto;
}

.nav-link {
  color: #fff;
  font-family: "Delius", cursive;
}

.nav-link:hover {
  color: #f4d391;
  text-decoration: overline;
}

/*
UNICASE
.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}

REGULAR
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

SWASH CAPS
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

*/
