html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );
  background-attachment: fixed;
}

h2,
h4,
footer,
.nav-link,
.more-publications,
.footer-link {
  color: #fff;
}

p,
h4,
footer,
.nav-link {
  font-family: "Delius", cursive;
}

h4,
.about-section,
.portfolio-section {
  text-align: center;
}

.nav-link:hover,
.more-publications:hover,
.footer-link:hover {
  color: #f4d391;
  text-decoration: overline;
  cursor: pointer;
}

.navbar-nav,
.hero-container {
  max-width: 700px;
  margin: 0 auto;
}

.nav-link,
.footer-link {
  transition: all 150ms ease-in-out;
}

h2 {
  font-family: "Delius Unicase", cursive;
  font-size: 32px;
  text-decoration: overline;
}

p {
  font-size: 20px;
  line-height: 2;
  color: #e9f090;
}

footer {
  margin-top: 50px;
}

.gen-pic {
  width: 400px;
}

.portfolio-section {
  margin-top: 150px;
}

.about-paragraph {
  margin-top: 15px;
}

.book-titles {
  font-size: 25px;
}

.more-publications {
  text-decoration: underline;
}

.footer-link {
  text-decoration: none;
}

/*
UNICASE
.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}

REGULAR
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

SWASH CAPS
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

*/

/* Everything will be on the same page, 
except for my resume. Don't forget about
adding anchor links to each section */
