html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );

  background-attachment: fixed;
}

h1,
h2 {
  color: #fff;
}
