html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(187, 0, 212) 11.2%,
    rgb(32, 38, 238) 91.1%
  );

  background-attachment: fixed;
}

h1,
h2 {
  color: #fff;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 7px;
  box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-in;
}

.logo:active {
  transform: scale(4.5);
  position: relative;
  top: 100px;
  left: 20px;
}
