h1,
h2,
a {
  color: #6995e7;
}

h2,
button {
  font-family: "Grandiflora One", cursive;
  font-weight: bold;
}

body {
  background-color: rgb(238, 229, 137);
}

h1 {
  margin: 15px auto;
  font-family: "Great Vibes", cursive;
  font-size: 65px;
}

button {
  border-radius: 30px;
  padding: 10px 25px;
  margin: 17px auto;
  font-size: 20px;
  border: 3px solid #6995e7;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.home-container {
  text-align: center;
  margin-top: 275px;
}
