:root {
  --page-color: rgb(238, 229, 137);
  --primary-color: #6995e7;
  --secondary-color: #4e524e;
  --header-font: "Great Vibes", cursive;
  --paragraph-font: "Grandiflora One", cursive;
}

p,
button,
ul,
.logo,
.project-container {
  font-weight: bold;
}

h1,
h3,
a,
.logo {
  color: var(--primary-color);
}

p,
button,
ul,
.navbar-link,
.project-container,
.contact-link {
  letter-spacing: 1px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

h1,
footer,
.logo {
  font-family: var(--header-font);
}

ul,
.custom-navbar {
  list-style: none;
  padding: 0;
}

.navbar-link,
.contact-link {
  transition: all 150ms ease-in-out;
}

.about-container,
.header {
  margin-top: 100px;
}

.header,
.project-container {
  text-align: center;
}

.navbar-link:hover,
.contact-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

body {
  background-color: var(--page-color);
}

nav {
  margin-top: 20px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 41px;
  font-weight: bolder;
}

button {
  border-radius: 30px;
  padding: 10px 15px;
  margin: 17px auto;
  font-size: 20px;
  border: 3px solid #6995e7;
}

button:hover {
  background: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  font-size: 20px;
  margin-top: 30px;
}

li {
  margin: 5px 5px 0px 5px;
}

footer {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.logo {
  letter-spacing: 5px;
  font-size: 22px;
}

.custom-navbar {
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
  margin-top: -31px;
}

.project-container {
  margin-top: 55px;
}

.contact-item {
  margin: 15px;
  text-align: center;
}
