:root {
  --page-color: rgb(238, 229, 137);
  --primary-color: #6995e7;
  --secondary-color: #4e524e;
  --header-font: "Great Vibes", cursive;
  --paragraph-font: "Grandiflora One", cursive;
}

body {
  background-color: var(--page-color);
  color: var(--primary-color);
}

p,
button,
li {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

h1,
h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 60px;
}

p {
  font-size: 18px;
}

h2 {
  margin-top: 60px;
  text-align: center;
  font-size: 55px;
}

.about-container {
  margin-top: 150px;
}
